{% extends "::base.html.twig" %}

{% block body %}
	
	<div id="principal-a-propos">
		<div id="principal-animation">
		  <div class="particle particle-1"></div>
		  <div class="particle particle-2"></div>
		  <div class="particle particle-3"></div>
		  <div class="particle particle-4"></div>
		</div>
 		<div id="principal-interieur">
 			<div id="texte" class="animable apparait-rebondir normal">
			  <div id="a-propos-texte-interieur">
			    <p id="phrase-fixe" >
			      A Propos de <span id="texte-vocs">VOCS</span>
			    </p>
			  </div>
			</div>
 		</div>
	</div>

	<div id="a-propos-vocs">
	  <div class="interieur">
	    <div id="a-propos-texte"  class="a-ete-anime apparait-sans-bouger-haut normal">
	      <h3>C'est quoi Vocs?</h3>
	      <p><br>Vocs a pour but de répondre à plusieurs

			problématiques :<br><br>

			➔ Comment apprendre le vocabulaire anglais sur le long terme ?<br><br>

			➔ Comment utiliser les technologies mises à disposition (smartphone,

			ordinateur) des étudiants à des fins pédagogiques ?<br><br>

			➔ Comment partager le savoir des professeurs d’anglais à une grande

			communauté d’étudiants ?<br><br><br>

			Les Listes :<br><br>

			Nous comptons tout d'abord implanter un système de listes. Initialement la plateforme

			contiendra des listes de vocabulaire sur différentes thématiques que les utilisateurs

			pourront s’approprier.<br>

			Ainsi, tout le monde pourra télécharger une liste quand il le souhaitera pour pouvoir réviser

			où bon lui plaira et surtout, quand le temps le lui permettra.<br>

			Chaque utilisateur pourra créer ses propres listes de mots traduits qu'il pourra

			ensuite réviser à sa guise. (Les listes pourront être mises en ligne après être soumises à une

			correction des traductions par des professeurs ou par les administrateurs).<br>

			Les listes pourront aussi être mises par des professeurs, et être soumises à leurs élèves,

			qui devront s'inscrire dans leur classe pour pouvoir les consulter.<br>

			Par exemple, vous êtes professeur d'une classe de première 4 au lycée Victor Hugo à

			Caen. Sur internet, un groupe privé sera créé et nommé "1A du lycée Victor Hugo Caen". Le

			professeur pourra créer la classe, choisir son nom et gérer la classe. Les élèves pourront

			rejoindre la classe et vous pourrez accepter ou non leur demande d'adhésion (pour éviter les

			fausses candidatures). Les élèves pourront ainsi faire des tests.<br><br><br>

			Les modes d’apprentissage :<br><br>

			Nous avons aussi pour idée d'implanter différents modes d’apprentissage. Par exemple:

			- La Traduction: une traduction en français ou en anglais des mots proposés par

			l'application.<br><br>

			- Le Time-Attack: à l'image de beaucoup de mini-jeux sur internet, nous proposons un jeu où

			le but est de traduire le plus de mots possible dans le temps imparti.<br><br>

			- Le Matching: ce mode propose une liste de mots français et anglais répartis de part et

			d'autre de l'écran. Ils sont placés au hasard et l'élève doit relier les traductions entre elles.<br><br>

			- Le QCM: un mot en anglais ou en français est proposé. Plusieurs traductions apparaissent.

			Il suffit de cocher la ou les bonnes réponses.<br><br>

			- Le mode Hard: Les mots que chaque utilisateur orthographient le moins bien sont stockés

			dans une Hard-List personnelle. Nous prenons ensuite ces fameux mots et réalisons un test

			constitué uniquement de ces mots.<br><br><br>

			Les statistiques :<br><br>

			Nous souhaitons aussi mettre en place un système de statistiques, permettant à

			chacun de savoir dans quels domaines il est le plus performant et, a contrario, dans lesquels

			il doit progresser.<br><br><br>

			Les fonctionnalités supplémentaires :<br><br>

			Un système de prononciation sera aussi mis en place, accompagné de symboles

			phonétiques. Il sera possible de cliquer sur un bouton haut-parleur pour entendre la

			prononciation du mot choisi, et la phonétique de ce mot apparaîtra juste à côté.</p>
	    </div>
	  </div>
	</div>

{% endblock %}