{% extends "::base.html.twig" %}

{% block body %}
	
	<div id="principal-equipe">
		<div id="principal-animation">
		  <div class="particle particle-1"></div>
		  <div class="particle particle-2"></div>
		  <div class="particle particle-3"></div>
		  <div class="particle particle-4"></div>
		</div>
 		<div id="principal-interieur">
 			<div id="texte" class="animable apparait-rebondir normal">
			  <div id="equipe-texte-interieur">
			    <p id="phrase-fixe">
			      L'équipe <span id="texte-vocs">VOCS</span>
			    </p>
			  </div>
			</div>
 		</div>
	</div>

	<div id="a-propos-vocs">
	  <div class="equipe-interieur">
	    <div class="membre animable apparait-rebondir-gauche normal">
			<img src="" >
			<h3>Harvey<br>ROBERTS</h3>
			<h4>Developpeur Front-End</h4>
	    </div>
	    <div class="membre animable apparait-sans-bouger normal">
			<img src="" >
			<h3>Mathis<br>DELAUNAY</h3>
			<h4>Developpeur IOS</h4>
	    </div>
	    <div class="membre animable apparait-rebondir-droite normal">
			<img src="" >
			<h3>Simon<br>ARNAUD</h3>
			<h4>Developpeur Android</h4>
	    </div>
	   	<div class="membre animable apparait-rebondir-droite normal">
			<img src="" >
			<h3>Etienne<br>LEBARILLIER</h3>
			<h4>Developpeur Back-End</h4>
	    </div>
	  </div>
	</div>

{% endblock %}