{% extends "::base.html.twig" %}

{% block body %}
	
	<div id="principal">
			<div id="fond-animation">
				<ul id="fond-animation-carres">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div id="formulaire2"  class="animable apparait-sans-bouger-haut lent">

				<ul id="tab-groupe">
					<li class="tab active"><a href="#inscription">Inscription</a></li>
					<li class="tab"><a href="#connexion">Connexion</a></li>
				</ul>

				<div id="tab-contenu">
					<div id="inscription">   

						<h1>Choisissez votre compte</h1>

						<form action="#" method="post">

							<ul id="choix-compte">
								<li class="bouton-choix-compte">Libre</li>
								<li class="bouton-choix-compte">Elève</li>
								<li class="bouton-choix-compte">Professeur</li>
							</ul>

							<button type="submit" class="bouton bouton-block"/>Continuer</button>

						</form>

					</div>

					<div id="connexion">   
						<h1>De Retour!</h1>

						<form action="{{ path("vocs_platform_eleve_home")}}" method="post">

							<div class="contenu_champ">
								<label>
									Address Mail<span class="obligatoire">*</span>
								</label>
								<input type="email"required autocomplete="off"/>
							</div>

							<div class="contenu_champ">
								<label>
									Mot de passe<span class="obligatoire">*</span>
								</label>
								<input type="password"required autocomplete="off"/>
							</div>

							<p class="oublie"><a href="#">Mot de passe oublié</a></p>

							<button type="submit" class="bouton bouton-block"/>Connexion</button>

						</form>
					</div>
				</div>
			</div>

		</div>

{% endblock %}