

.contenue {
  flex: 1;
  transform: translate3d(48px, 0, 0);
  transition: transform .3s;
  background: #F0F0F0;
}

.contenue.active {
  transform: translate3d(220px, 0, 0);
}


.home-interieur {
  display: flex;
  margin-top: 68px;
  min-height: 2000px;
  font: 600 12px/1 'Open Sans', sans-serif;
}

.home-contenue-interieur{
  display:flex;
}
