
.list-wrapper {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 105px 0px 0px 60px;
  width: 50vw;
}
.list-wrapper .list-container {
  position: relative;
  overflow: hidden;
}
.list-wrapper .list-container .list-header-container {
  position: relative;
  background: none;
  background-color: #F7F7F9;
}

.ajouter-liste{
  position: absolute;
  z-index:1;
  margin-top:23px;
  margin-left:92%;
  font-size: 25px;
  width: 30px;
  height:30px;
  line-height: 30px;
  text-align:center;
}

.ajouter-liste:hover{
  color: #2eaae4;
  transition: color 300ms;
}


.list-wrapper .list-container .list-header-container a.back-link {
  display: inline-block;
  position: absolute;
  padding: 30px 20px;
  vertical-align: middle;
  text-decoration: none;
}
.list-wrapper .list-container .list-header-container a.back-link:hover {
  color: #2eb5ef;
}
.list-wrapper .list-container .list-header-container h3 {
  margin: 0;
  border: 0 none;
  padding: 30px 20px;
  text-align: center;
  font-weight: 400;
  color: #000000;
}
body .list-wrapper .list-body-container {
  position: relative;
  left: -15%;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  width: 115%;
}
body .list-wrapper .list-body-container ul {
  -moz-transition: min-height linear, -moz-transform 0.3s ease-out;
  -o-transition: min-height linear, -o-transform 0.3s ease-out;
  -webkit-transition: min-height linear, -webkit-transform 0.3s ease-out;
  transition: min-height linear, transform 0.3s ease-out;
  -moz-transform: translateX(115%);
  -ms-transform: translateX(115%);
  -webkit-transform: translateX(115%);
  transform: translateX(115%);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  list-style: none;
  top: 0;
  left: 0;
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 100%;
  min-height: 300px;
  background-color: #FFFFFF;
}
body .list-wrapper .list-body-container ul.hidden {
  display: none;
}
body .list-wrapper .list-body-container ul.active-list {
  display: block;
  -moz-transform: translateX(13%);
  -ms-transform: translateX(13%);
  -webkit-transform: translateX(13%);
  transform: translateX(13%);
  min-height: 100%;
}
body .list-wrapper .list-body-container ul.active-list.parent-list {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
body .list-wrapper .list-body-container ul li {
  display: block;
  margin: 0 0 0 2rem;
  border-top: 1px solid #D2D2D2;
  padding: 0;
}
body .list-wrapper .list-body-container ul li:first-child {
  border-top: 0 none;
}
body .list-wrapper .list-body-container ul li a {
  display: block;
  padding: 1.2rem 6rem 1.2rem 1rem;
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
}
body .list-wrapper .list-body-container ul li a .list-label {
  float: left;
}
body .list-wrapper .list-body-container ul li a .right-arrow {
  float: right;
}
body .list-wrapper .list-body-container ul li a:hover, body .list-wrapper .list-body-container ul li a:focus, body .list-wrapper .list-body-container ul li a.active-link {
  color: #2eb5ef;
}
