


    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
   /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  /////////////////////////////////////////////////////////////BARRE DE NAVIGATION/////////////////////////////////////////////////
 /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



#menu-mobile
{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;

    display: none;

    width: 240px;
    height: 500vh;

    border: none;
    background:#2C3E50;
}
#menu-mobile ul
{
    margin: 0;
    padding: 0;
    padding-top: 100px;

    list-style-type: none;
}
#menu-mobile ul li
{
    margin-bottom: 2px;
    font-size: 20px;
    padding: 0;
/*    background-color: #267FB7;*/
border-bottom: 1px solid grey;



}
#menu-mobile ul li a
{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    text-align: center;
    text-decoration: none;
    letter-spacing: 5px;
    font-size:15px;
  text-transform: uppercase;
  font-weight: 400;
    color: white;
}
#menu-mobile ul li a.active
{
    width: 100%;

    background: #23313f;
}



#barre-nav
{
    position: fixed !important;
    z-index: 3;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 1px lightgrey;

    width: 100%;
    height: 70px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 40px;
    transition: transform 1s cubic-bezier(0.6, 0, 0.07, 1);
    border-bottom: solid 1px #e6e6e6;
    background: white;
}
#barre-nav.cache {
  transform: translateY(-110%);
}

#barre-nav a
{
    float: left;

    text-decoration: none;
}
#barre-nav ul
{
    display: block;
    float: right;

    margin: 0;
    padding: 0;

    list-style-type: none;
}
@media (max-width: 768px)
{
    #barre-nav ul
    {
        display: none;
    }
}
#barre-nav ul li
{
    float: left;

    margin: 0;
    padding: 0;
}
#barre-nav ul li a
{
    display: block;

    padding-right: 25px;
    padding-left: 25px;
}
#les-mots:hover > li .bouton-mots
{
    transition: all ease .5s;

    opacity: .3;
}

#les-mots > li .bouton-mots:hover
{
    transition: all ease .5s;

    opacity: 1;
    color: grey;
}
#logo
{
    height: 40px;
}


#menu-burger
{
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    padding: 25px;

    cursor: pointer;
    user-select: none;

    border: none;
    background: none;
}
/*pour enlever le border quand on click(marche pas)*/
/*#menu-burger:active {
    border:none;
}
#menu-burger.active:active {
    border:none;
}*/
@media (max-width: 768px)
{
    #menu-burger
    {
        display: block;
    }

    .animer #menu-mobile,
    .menu-visible #menu-mobile
    {
        display: block;
    }


    .animer #page-interieur

    {
        transition: transform .25s ease-in-out;
    }


    .animer.gauche #page-interieur
    {
        transform: translate3d(-240px, 0, 0);
    }

    .animer.gauche #barre-nav
    {
       left: -240px;
       transition: left .25s ease-in-out;
        
    }


    .animer.droite #page-interieur
    {
        transform: translate3d(240px, 0, 0);
    }

    .animer.droite #barre-nav
    {
       left: 0px;
       transition: left .25s ease-in-out;
        
    }

    .menu-visible #page-interieur
    {
        right: 240px;
    }

    .menu-visible #barre-nav
    {
        left: -240px;
        
    }
}

/*faire disparaître le trait du milieu*/
#menu-burger.active #lignes-burger
{
    background: transparent;
}

/*Animation des deux traits extérieurs*/
#menu-burger.active #lignes-burger:before,
#menu-burger.active #lignes-burger:after
{
    top: 0;

    width: 25px;

    transition: top 300ms cubic-bezier(.165, .84, .44, 1);
    transition: top 300ms cubic-bezier(.165, .84, .44, 1), transform 300ms 300ms cubic-bezier(.165, .84, .44, 1);
    transition: top 300ms cubic-bezier(.165, .84, .44, 1), transform 300ms 300ms cubic-bezier(.165, .84, .44, 1);
}
#menu-burger.active #lignes-burger:before
{
    transform: rotate3d(0, 0, 1, 45deg) scale(1.1);
}
#menu-burger.active #lignes-burger:after
{
    transform: rotate3d(0, 0, 1, -45deg) scale(1.1);
}


/*Trait du milieu*/
#lignes-burger
{
    position: relative;
    top: -2px;

    display: inline-block;

    width: 25px;
    height: 4px;

    cursor: pointer;
    user-select: none;
    transition: all 300ms ease;

    background-color: grey;
}
/*Traits extérieurs*/
#lignes-burger:before,
#lignes-burger:after
{
    position: absolute;
    left: 0;

    display: inline-block;

    width: 25px;
    height: 4px;

    content: '';
    transition: top 300ms 300ms cubic-bezier(.165, .84, .44, 1), background-color 300ms cubic-bezier(.165, .84, .44, 1);
    transition: top 300ms 300ms cubic-bezier(.165, .84, .44, 1), transform 300ms cubic-bezier(.165, .84, .44, 1), background-color 300ms cubic-bezier(.165, .84, .44, 1);
    transition: top 300ms 300ms cubic-bezier(.165, .84, .44, 1), transform 300ms cubic-bezier(.165, .84, .44, 1), background-color 300ms cubic-bezier(.165, .84, .44, 1);
    transform-origin: 50% 50%;

    background-color: grey;
}
/*Placement des deux traits extérieurs*/
#lignes-burger:before
{
    top: 8px;
}
#lignes-burger:after
{
    top: -8px;
}




