@import "FlexBoxGrid.css";
@import "widgets.css";


body{

	margin:0;
	padding:0;
}

.menu{
	display: block;
	position: fixed !important;
	width:100%;
	background-color: white;
	border-bottom: 1px solid #c4d6c8;
}

.button{
	display: block;
	margin:0;
	padding:0;
	background-color: white;
}

.menu-text a:hover{ 
	color: #3498dc;
	border-bottom: thin solid #3498dc;
}


.menu-text{
	font-size: 1.2em;
	font-family: open sans;
	display:block;
	text-align: center;
	box-sizing: border-box;
}

/**{
	
	border: 1px solid black;
}
*/
.logo img{
	padding-left:1.5em;
	padding-top: 0.4em;
	height: 3em;

}

.menu-text a{
	text-decoration:none;
	display: inline-block;
	color:black;
	height:100%;
	padding-top: 1em;
	padding-bottom: 1em;
	box-sizing: border-box;

}

.menu-connection{
	padding-top: 1em;
	padding-bottom: 1em;
	border-left: 1px solid #dfdfdf;
	box-sizing: border-box;
	display: block;
	text-align: center;

}

.menu-connection a{
	color:white;
		height:100%;
	display: inline-block;
	text-decoration:none;
}

